@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

.body {
  background-color: #f7f7f7;
}

.header-bg {
  background-color: #fff;
  height: 36px;
}

/* microCMSのカスタムCSS */
.mb-s {
  display: block;
  margin-bottom: -35px;
}