@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  font-family: Noto,
    "Hiragino Sans",
    Helvetica,
    Arial,
    sans-serif;
  color: #333;
}

/* microCMSのカスタムCSS */
.mb-s {
  display: block;
  margin-bottom: -35px;
}